
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digimones</title>
</head>
<body>
    
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Digimones</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Page Content -->
    
    <div class="container">
  
          <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-2 py-2 text-center">
        <div class="card-body"> 
            <h2>{{ mensaje.name }}</h2>
          <p class="text-white m-0">{{ mensaje.level }}</p>
          <li (click)="onClick()"  class="list-group-item">
               
            <img src="{{mensaje.img}}" alt="">
        </li>
        </div>
      </div>
  <!-- Heading Row -->

      <!-- /.row -->
  
  
        <!-- /.col-md-4 -->
  
      </div>
      <!-- /.row -->
    <!-- /.container -->
  
    <!-- Footer -->
    
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </body>

</body>  
</html>